body,
html,
#root,
.rs-container {
  height: 100%;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: var(--rs-primary-700);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logo > span {
  font-weight: bold;
  font-size: 11px;
}

body.rs-theme-dark {
  --ym-list-bg: #1a1d24;
  --ym-list-bg-hover: #292d33;
  --ym-list-bg-active: #282b2e;
}

body.rs-theme-light {
  --ym-list-bg: #efefef;

  --ym-list-bg-hover: #dddddd;
  --ym-list-bg-active: #dbdbdb;
}

/* TODO */
body {
  overflow: hidden;
  border-top: 1px solid var(--rs-divider-border);
}

.react-contextmenu {
  z-index: 10;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-auto {
  flex: auto;
}

.flex-block {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

time {
  font-size: 12px;
  line-height: 14px;
  color: var(--rs-text-secondary);
}

.w-200 {
  width: 200px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

/* styled timymce */
.tox.tox-tinymce {
  height: 100% !important;
}

.tox-tinymce {
  border: 1px solid var(--rs-divider-border) !important;
}

.tox .tox-menubar,
.tox .tox-toolbar-overlord,
.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary,
.tox .tox-menu {
  background-color: var(--rs-body) !important;
}

.tox .tox-collection--list .tox-collection__group {
  border-color: var(--rs-divider-border) !important;
}

.tox:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid var(--rs-divider-border) !important;
}

.tox .tox-menubar + .tox-toolbar,
.tox .tox-menubar + .tox-toolbar-overlord .tox-toolbar__primary {
  border-top: 1px solid var(--rs-divider-border) !important;
}

/* end region */

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100%;
}

.screen-height {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.p-10 {
  padding: 10px;
}

.b-top {
  border-top: 1px solid var(--rs-divider-border);
}

.b-right {
  border-right: 1px solid var(--rs-divider-border);
}

.icon-14 {
  height: 14px !important;
  width: auto;
}

.delete-button:not([aria-disabled="true"]),
.delete-button:not([aria-disabled="true"]):active,
.delete-button:not([aria-disabled="true"]):focus,
.delete-button:not([aria-disabled="true"]):hover {
  color: var(--rs-red-600);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.centered-span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.reset-margin {
  margin: 0;
}

.color-secondary {
  color: var(--rs-text-secondary);
}

.hover-icon:hover {
  color: var(--rs-primary-700);
}

::-webkit-scrollbar {
  border-radius: 5px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 55%, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.rs-sidenav-subtle .rs-dropdown.rs-dropdown-selected-within .rs-dropdown-toggle,
.rs-sidenav-subtle .rs-sidenav-item.rs-sidenav-item-active::before {
  content: " ";
  position: absolute;
  top: 10%;
  width: 70%;
  height: 70%;
  background: var(--rs-primary-700);
  left: 15%;
  border-radius: 8px;
  opacity: 0.3;
  box-shadow: var(--rs-state-focus-shadow);
}

.rs-sidenav-subtle .rs-dropdown .rs-dropdown-toggle:focus,
.rs-sidenav-subtle .rs-dropdown .rs-dropdown-toggle:hover,
.rs-sidenav-subtle .rs-sidenav-item:focus,
.rs-sidenav-subtle .rs-sidenav-item:hover {
  box-shadow: none;
}

.m-b-20 {
  margin-bottom: 20px;
}
